# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Node & VitePress
node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
